.img-circle {
    border-radius: 50%;
    text-align: center;
    margin: 0 5rem;
}
.text{
    text-align: center;
}
.contact {
    font-size: .9rem;
    margin-bottom: 15px;
    text-align: center;
  
}
ul{
    border-bottom: 1px solid #f0f0f0;
   
}
.ulContact {
    display: block;
}
.small-text {
    font-size: .8rem;
    text-align: center;
}
h1{
    font-size: 24px;
    margin: 0 auto;
    font-weight: 700;
    /* text-align: center; */
}
.iconCard{
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}
.cardd{
    margin: 0 35%;
}
.iconCard:hover{
    color: rgb(44, 44, 99);
   
}
